body {
    font-family: sans-serif; 
    background-color: black;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
}

h1 {
    color: aqua;
}

h2 {
    color: aqua; 
}